header {
  padding: 14px 5%;
  border-bottom: 1px solid #e4e9ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .searchHolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f8fa;
  width: 100%;
  padding-right: 15px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
}
header .searchHolder .searchResult {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 40px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 100;
}
header .searchHolder .searchResult .link {
  width: 100%;
  text-decoration: none;
}
header .searchHolder .searchResult .link .searchResult_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  width: 100%;
  margin-top: 10px;
}
header .searchHolder .searchResult .link .searchResult_box .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #f6f6f6;
}
header .searchHolder .searchResult .link .searchResult_box .imgBox img {
  max-width: 100%;
  max-height: 60%;
}
header .searchHolder .searchResult .link .searchResult_box .result_titleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
header .searchHolder .searchResult .link .searchResult_box .result_titleImg .resultTitle_Wrapper {
  height: 20px;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}
header .searchHolder .searchResult .link .searchResult_box .result_titleImg .resultTitle_Wrapper .titleResult {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-overflow: ellipsis;
  overflow: hidden;
}
header .searchHolder .searchResult .link .searchResult_box .result_titleImg .priceResult {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  color: #1d9e34;
}
header .searchHolder .select {
  outline: none;
  border: none;
  background-color: #f6f8fa;
  padding-left: 15px;
}
header .searchHolder .search {
  background-color: #f6f8fa;
  color: #818b9c;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}
header .headerIconsSaver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .headerIconsSaver .profileImgSaver {
  border-left: 1px solid #e4e9ee;
  padding-left: 15px;
}
header .headerIconsSaver .profileImgSaver .profileImg {
  width: 38px;
  height: 38px;
  border-radius: 50px;
}
header .headerIconsSaver .cartHolder {
  background-color: white;
  cursor: pointer;
}
header .headerIconsSaver .cartHolder .cartNumber {
  position: absolute;
  top: -10px;
  right: -6px;
  color: white;
  background-color: #e04124;
  border-radius: 30px;
  padding: 3px 5px;
  font-size: 9px;
  font-weight: 600;
  line-height: 11.7px;
  border: 2px solid white;
}

@media only screen and (min-width: 767px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    padding: 14px 8%;
  }
  header .searchHolder .searchResult .link .searchResult_box .imgBox {
    width: 80px;
    height: 80px;
  }
  header .searchHolder .searchResult .link .searchResult_box .result_titleImg {
    width: 60%;
  }
  header .searchHolder .searchResult .link .searchResult_box .result_titleImg .resultTitle_Wrapper {
    height: 40px;
  }
  header .searchHolder .search {
    padding: 15px 10px;
  }
  header .headerIconsSaver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 27px;
  }
}
@media only screen and (min-width: 992px) {
  header {
    padding: 14px 12%;
  }
  header .searchHolder {
    width: 60%;
  }
}