.swiper-container {
  position: relative;
  width: 100%;
}
.swiper-container .swiper-button-next {
  color: red;
  position: absolute;
  right: 8%;
  top: 45%;
  font-size: 30px;
  z-index: 2;
  display: none;
}
@media only screen and (min-width: 767px) {
  .swiper-container .swiper-button-next {
    display: block;
  }
  .swiper-container .swiper-button-next div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50px;
    background-color: white;
    width: 42px;
    height: 42px;
  }
  .swiper-container .swiper-button-next div .fa-chevron-right {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .swiper-container .swiper-button-next {
    right: 12%;
  }
  .swiper-container .swiper-button-next div {
    width: 52px;
    height: 52px;
  }
  .swiper-container .swiper-button-next div .fa-chevron-right {
    font-size: 24px;
  }
}